:root {
  --color-white-main: #fbfbfd;
  --footer-color: #27333e;
  --frame-color: #d9d9d9;
  --color-text: #333333;
  --color-roubrics-text: #212123;
  --yellow-color: #e9b902;
  --subtext-color: #242424;
  --white-color: #ffffff;
  --partners-color: #778187;
}
